###
/*
/*.*

###
!/.gitignore
!/nvim/
!/nvim/init.lua
!/nvim/lua/autocmds.lua
!/nvim/lua/base.lua
!/nvim/lua/colorscheme.lua
!/nvim/lua/keymaps.lua
!/nvim/lua/options.lua
!/nvim/lua/plugins.lua
!/nvim/lua/plugin/packer_compiled.lua
